DB_HOST=localhost
DB_PORT=5432
DB_NAME=network_intelligence
DB_USER=postgres
DB_PASSWORD=tech

PIPELINE_NAME=uganda_network_intelligence
ENVIRONMENT=development

# OPERATIONAL SLA THRESHOLDS
AVAILABILITY_CRITICAL=95.0
PACKET_LOSS_CRITICAL=5.0
LATENCY_CRITICAL=70.0

AVAILABILITY_WARNING=98.0
PACKET_LOSS_WARNING=2.0
LATENCY_WARNING=40.0
